.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spirit,
.myling,
.obambo {
    color: #21a4d8;
}

.demon,
.amaldicoado {
    color: #d43b3b;
}

.default {
    color: #ffffff;
}

h3 {
    margin: 0;
    font-size: 1.5rem;
}

p {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}